@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  :root  {
    --background: 220 23% 95%;
    --foreground: 220 5% 8%;
    --card: 220 23% 90%;
    --card-foreground: 220 5% 10%;
    --popover: 220 23% 95%;
    --popover-foreground: 220 95% 8%;
    --primary: 220 18.2% 12.9%;
    --primary-foreground: 0 0% 100%;
    --secondary: 220 23% 70%;
    --secondary-foreground: 0 0% 0%;
    --muted: 182 23% 85%;
    --muted-foreground: 220 5% 35%;
    --accent: 182 23% 80%;
    --accent-foreground: 220 5% 10%;
    --destructive: 0 50% 30%;
    --destructive-foreground: 220 5% 90%;
    --border: 220 23% 50%;
    --input: 220 23% 18%;
    --ring: 220 18.2% 12.9%;
    --radius: 0.5rem;
  }
  .dark  {
    --dillercolor-foreground: 237, 7%, 97%
    --dillercolor-1: 220 18% 19%;
    --dillercolor-2: 218 19% 16%;
    --dillercolor-3: 218 18% 13%;
    --dillercolor-4: 218 18% 10%;
    /* --dillercolor-accent: 210 100% 67%;
    --dillercolor-accent-foreground: var(--dillercolor-2); */
    --dillercolor-accent: var(--dillercolor-4);
    --dillercolor-accent-foreground: var(--dillercolor-foreground);

    --tempcolor-1: 120 23% 38%;
    --tempcolor-2: 122 78% 37%; /* green */
    --tempcolor-green: 122 78% 37%; /* green */
    --tempcolor-purple: 296 78% 37%;
    --tempcolor-purple: 296 78% 37%;
    --tempcolor-blue: 235 83% 35%;

    --background: var(--dillercolor-1);
    --foreground: var(--dillercolor-foreground);
    --card: var(--dillercolor-2);
    --card-foreground: var(--dillercolor-foreground);
    --popover: var(--dillercolor-2);
    --popover-foreground: var(--dillercolor-foreground);
    --primary: var(--tempcolor-purple);
    --primary-foreground: var(--dillercolor-foreground);
    --secondary: var(--tempcolor-purple);
    --secondary-foreground: var(--dillercolor-foreground);
    --muted: var(--tempcolor-purple);
    --muted-foreground: var(--dillercolor-foreground);
    --accent: var(--dillercolor-accent);
    --accent-foreground: var(--dillercolor-accent-foreground);
    --destructive: var(--tempcolor-purple);
    --destructive-foreground: var(--dillercolor-foreground);
    --border: var(--dillercolor-4);
    --input: var(--dillercolor-3);
    --ring: var(--tempcolor-green);
    --radius: 0.5rem;
  }
  
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}